# === FRONTEND (React) ===
logs
*.log
node_modules/
dist/
dist-ssr/
*.local

# === BACKEND (Spring Boot) ===
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === Otros temporales ===
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
